.mobile {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 100px;
  align-items: center;

  margin-block-end: 100px;

  &__content {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

  &__btns {
    display: flex;
    gap: 20px;
  }
}

.download-btn {
  display: grid;
  grid-template-columns: min-content 1fr;
  gap: 2px 8px;

  inline-size: min-content;
  min-inline-size: 200px;
  padding-block: 12px;
  padding-inline: 20px;

  color: var(--text-dark);
  text-decoration: none;

  border: 1px solid var(--border-dark);
  border-radius: 100px;

  @include font-body-caption;

  &:hover {
    color: var(--text-light);

    background-color: var(--back-container);

    /* stylelint-disable-next-line selector-class-pattern */
    .download-btn__logo-path.download-btn__logo-path {
      fill: var(--text-light);
    }
  }

  &__logo {
    grid-row: span 2;
  }

  &__logo-path {
    fill: var(--text-dark);
  }

  &__title {
    @include font-button;
  }
}
