@import 'common/normalize.css';
@import 'common/vars';
@import 'common/mixins';
@import 'common/components';

// sections
@import './sections/header';
@import './sections/hero';
@import './sections/favorite';

:root {
  font-family: Inter, sans-serif;

  @include font-body-medium;
}

body{
  background-color: var(--back-body);
}

* {
  box-sizing: border-box;
}
