@import 'common/normalize.css';
@import 'common/vars';
@import 'common/mixins';
@import 'common/components';

// sections
@import './sections/header';
@import './sections/hero';
@import './sections/favorite';
@import './sections/about';
@import './sections/mobile';
@import './sections/footer';

:root {
  font-family: Inter, sans-serif;

  @include font-body-medium;
}

body {
  color: var(--text-dark);

  background-color: var(--back-body);
}

p{
  margin: 0;
}

* {
  box-sizing: border-box;
}
