.menu {
  margin-block-end: 100px;

  &__title {
    max-inline-size: 800px;
    margin-block-end: 40px;
    margin-inline: auto;

    text-align: center;
  }
}

.tabulator {
  display: flex;
  flex-direction: column;
  gap: 40px;

  &__tabs {
    display: flex;
    gap: 16px;
    justify-content: center;
    align-items: center;
  }

  &__content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;

    margin-block-start: -2px; // for PP
  }
}

.tab {
  display: flex;
  gap: 8px;
  align-items: center;

  padding-block: 8px;
  padding-inline: 8px 16px;

  color: var(--text-dark);
  font-style: normal;

  border: 1px solid var(--border-light);
  border-radius: 100px;

  cursor: pointer;

  transition-property: color, background-color, border;
  transition-timing-function: linear;
  transition-duration: var(--animation-duration);

  &:hover,
  &--active {
    color: var(--text-light);

    border: 1px solid var(--back-container);

    background-color: var(--back-container);

    /* stylelint-disable-next-line selector-class-pattern */
    .tab__icon.tab__icon {
      background-color: var(--back-body);
    }
  }

  &__icon {
    inline-size: 30px;
    block-size: 30px;

    border-radius: 100px;

    background-color: var(--border-light);
    background-repeat: no-repeat;
    background-position: center;

    transition-property: background-color;
    transition-timing-function: linear;
    transition-duration: var(--animation-duration);

    &--cup {
      background-image: url('../assets/cup.png');
    }

    &--teapot {
      background-image: url('../assets/teapot.png');
    }

    &--cake {
      background-image: url('../assets/cake.png');
    }
  }
}

.product-card {
  $images-count: 8;
  inline-size: 310;

  border: 1px solid var(--border-light);
  border-radius: 40px;

  cursor: pointer;

  @for $i from 1 through $images-count {
    &:nth-child(#{$i}) .product-card__img-container {
      background-image: url('../assets/img/coffee/coffee-#{$i}.jpg');
      background-position: center;
    }
  }

  &:hover {
    /* stylelint-disable-next-line selector-class-pattern */
    .product-card__img.product-card__img {
      transform: scale(0.9);
    }
  }

  &__img-container {
    display: flex;
    justify-content: center;
    align-items: center;

    inline-size: 308px;
    block-size: 310px;

    border-radius: 40px;

    overflow: hidden;
  }

  &__img {
    transform: scale(1);

    transition-property: transform;
    transition-timing-function: linear;
    transition-duration: var(--animation-duration);
  }

  &__content {
    display: flex;
    flex-direction: column;

    block-size: 194px;
    padding: 20px;
  }

  &__title {
    margin: 0;
    margin-block-end: 12px;

    @include font-heading-3;
  }

  &__price {
    margin-block-start: auto;

    @include font-heading-3;
  }
}
