@mixin font-heading-1 {
  font-size: 72px;
  font-weight: 600;
  line-height: 105%;
}

@mixin font-heading-1-accent {
  @include heading-1;
  font-style: italic;
}

@mixin font-heading-2 {
  font-size: 62px;
  font-weight: 600;
  line-height: 125%;
}

@mixin font-heading-2-accent {
  @include heading-2;
  font-style: italic;
}

@mixin font-heading-3 {
  font-size: 24px;
  font-weight: 600;
  line-height: 125%;
}

@mixin font-body-medium {
  font-size: 15px;
  font-weight: 400;
  line-height: 150%;
}

@mixin font-body-caption {
  font-size: 10px;
  font-weight: 600;
  line-height: 140%;
}

@mixin font-link {
  font-size: 16px;
  font-weight: 600;
  line-height: 150%;
}

@mixin font-burger-link {
  font-size: 32px;
  font-weight: 600;
  line-height: 125%;
}

@mixin font-button {
  font-size: 16px;
  font-weight: 600;
  line-height: 150%;
}
