:root {
  --text-dark: #403f3d;
  --text-light: ##e1d4c9;
  --text-accent: ##b0907a;

  --back-body: #e1d4c9;
  --back-container: #665f55;
  --back-drop: #403f3dcc;

  --border-light: #c1b6ad;
  --border-dark: #665f55;
}
