<section class="favorite wrapper">
  <h2 class="favorite__title heading">
    Choose your <em>favorite</em> coffee
  </h2>
  <div class="slider">
    <div class="slider__slides">
      <article class="slired__slide coffee-card">
        <img class="coffee-card__img" src="../assets//img//coffee-slider/coffee-slider-1.png" alt="glass of coffee"
          width="480" height="480">
        <h3 class="coffee-card__title">S’mores Frappuccino</h3>
        <p class="coffee-card__description">
          This new drink takes an espresso and mixes it with brown sugar and cinnamon before being topped with oat
          milk.
        </p>
        <p class="coffee-card__price">$5.50</p>
      </article>
    </div>
    <button class="slider__btn slider__prev-btn" aria-label="next" type="button"></button>
    <button class="slider__btn slider__next-btn" aria-label="next" type="button"></button>
    <div class="slider__indicators">
      <div class="slider__indicator slider__indicator--active"></div>
      <div class="slider__indicator"></div>
      <div class="slider__indicator"></div>
    </div>
  </div>
</section>
