<section class="menu wrapper">
  <h2 class="menu__title heading">Behind each of our cups hides an <em>amazing surprise</em></h2>
  <div class="tabulator">
    <nav class="tabulator__tabs">
      <button class="tabulator__tab tab tab--active" type="button">
        <span class="tab__icon tab__icon--cup"></span><span class="tab__text">Coffee</span>
      </button>
      <button class="tabulator__tab tab" type="button">
        <span class="tab__icon tab__icon--teapot"></span><span class="tab__text">Tea</span>
      </button>
      <button class="tabulator__tab tab" type="button">
        <span class="tab__icon tab__icon--cake"></span><span class="tab__text">Dessert</span>
      </button>
    </nav>
    <div class="tabulator__content">
      <div class="product-card">
        <div class="product-card__img-container">
          <img class="product-card__img" src="../assets/img/coffee/coffee-1.jpg" alt="irish coffee">
        </div>
        <div class="product-card__content">
          <h3 class="product-card__title">Irish coffee</h3>
          <p class="product-card__description">
            Fragrant black coffee with Jameson Irish whiskey and whipped milk
          </p>
          <p class="product-card__price">$7.00</p>
        </div>
      </div>
      <div class="product-card">
        <div class="product-card__img-container">
          <img class="product-card__img" src="../assets/img/coffee/coffee-2.jpg" alt="irish coffee">
        </div>
        <div class="product-card__content">
          <h3 class="product-card__title">Kahlua coffee</h3>
          <p class="product-card__description">
            Classic coffee with milk and Kahlua liqueur under a cap of frothed milk
          </p>
          <p class="product-card__price">$7.00</p>
        </div>
      </div>
      <div class="product-card">
        <div class="product-card__img-container">
          <img class="product-card__img" src="../assets/img/coffee/coffee-3.jpg" alt="irish coffee">
        </div>
        <div class="product-card__content">
          <h3 class="product-card__title">Honey raf</h3>
          <p class="product-card__description">Espresso with frothed milk, cream and aromatic honey</p>
          <p class="product-card__price">$5.50</p>
        </div>
      </div>
      <div class="product-card">
        <div class="product-card__img-container">
          <img class="product-card__img" src="../assets/img/coffee/coffee-4.jpg" alt="irish coffee">
        </div>
        <div class="product-card__content">
          <h3 class="product-card__title">Ice cappuccino</h3>
          <p class="product-card__description">Cappuccino with soft thick foam in summer version with ice</p>
          <p class="product-card__price">$5.00</p>
        </div>
      </div>
      <div class="product-card">
        <div class="product-card__img-container">
          <img class="product-card__img" src="../assets/img/coffee/coffee-5.jpg" alt="irish coffee">
        </div>
        <div class="product-card__content">
          <h3 class="product-card__title">Espresso</h3>
          <p class="product-card__description">Classic black coffee</p>
          <p class="product-card__price">$4.50</p>
        </div>
      </div>
      <div class="product-card">
        <div class="product-card__img-container">
          <img class="product-card__img" src="../assets/img/coffee/coffee-6.jpg" alt="irish coffee">
        </div>
        <div class="product-card__content">
          <h3 class="product-card__title">Latte</h3>
          <p class="product-card__description">
            Espresso coffee with the addition of steamed milk and dense milk foam.
          </p>
          <p class="product-card__price">$5.50</p>
        </div>
      </div>
      <div class="product-card">
        <div class="product-card__img-container">
          <img class="product-card__img" src="../assets/img/coffee/coffee-7.jpg" alt="irish coffee">
        </div>
        <div class="product-card__content">
          <h3 class="product-card__title">Latte macchiato</h3>
          <p class="product-card__description">Espresso with frothed milk and chocolate</p>
          <p class="product-card__price">$5.50</p>
        </div>
      </div>
      <div class="product-card">
        <div class="product-card__img-container">
          <img class="product-card__img" src="../assets/img/coffee/coffee-8.jpg" alt="irish coffee">
        </div>
        <div class="product-card__content">
          <h3 class="product-card__title">Coffee with cognac</h3>
          <p class="product-card__description">Fragrant black coffee with cognac and whipped cream</p>
          <p class="product-card__price">$6.50</p>
        </div>
      </div>
    </div>
  </div>
</section>
